.scart_container {
  height: 100%;
  width: 100%;
  padding: 1rem;
}
#scart_cartContainer {
  margin: auto;
  max-width: 720px;
  padding: 1rem;
}
#scart_title {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
#scart_cartHeading {
  display: flex;
  justify-content: space-between;
}
#scart_productContainer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
  padding: 1rem 0;
}
#scart_headingDiv {
  width: 9rem;
  padding: 0.3rem;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}
#scart_headingTitle {
  width: 9rem;
  padding: 0.3rem;
  text-overflow: ellipsis;
}
#scart_div {
}
#scart_divider {
  border-top: 1px solid grey;
}
#scart_table {
  width: 100%;
  padding: 1rem;
}
#scart_tableRow {
}
#scart_tableData {
  padding: 0.1rem 0;
}
#scart_costColumn {
  text-align: right;
}
#scart_button {
  background: black;
  color: white;
  height: 2.5rem;
  width: 100%;
  font-size: 0.7rem;
  margin: 0.5rem 0;
}
#scart_redeemContainer {
  display: flex;
  justify-content: space-between;
}
#scart_redeemButton {
  max-width: 20%;
  background: black;
  color: white;
  height: 2.5rem;
  width: 100%;
  font-size: 0.7rem;
  margin: 0.5rem 0;
}
#scart_input {
  width: 75%;
  height: 2rem;
  margin: 0.5rem 0;
  padding: 10px;
  font-size: 0.7rem;
  border: 0 solid #ced4da;
  color: black;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  background-color: white;
  height: 2.5rem;
  padding: 0.75rem 1.5rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
}
#scart_imageContainer {
  height: 5rem;
}
